*{
    margin: 0;
    box-sizing: border-box;
}

/* typography */
.date-hero{
    font-size: 12px;
}
/* links */
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #522727;
}
/* header */
header,
article,
.about-container,
footer{
    padding: 1.25rem;
    font-family: 'Source Sans Pro';
    font-style: normal;
}

header{
    display: grid;
    height: 5rem;
    text-transform: uppercase;
    grid-template-columns: 3fr repeat(2, 4.75rem);
    align-content: center;
}

.logo-div{
    display: flex;
    grid-column: 1/ 2;
    gap:  0.25rem;
}
.logo{
    width: 1.5rem;
    height: 1.5rem;
}

.home,
.about,
.header-title{
    font-size: 12px;
    font-weight: 700;
    align-self: center;
    line-height: 1.25;
}
.home,
.about{
    cursor: pointer;
    justify-self: center;
}
.home{
    grid-column: 2/3;
}
.about{
    grid-column: 3/4;
}
/* articles & blogs*/

.article-hero{
    display: grid;
    grid-template-rows: 2fr 30px 1fr 2fr;
    height: 20rem;
    background-image: url(images/article-image.jpg);
    background-size:cover;
    color: white;
}
.date-hero{
    grid-row: 2/3;
    align-self: center;
}
.title-hero,
.preview-hero{
    cursor: pointer;
}

.title-hero{
    font-size: 32px;
    grid-row: 3/4;
    display: inline;
}
.preview-hero{
    font-size: 16px;
    grid-row: 4/5;
    align-self: center;
}
.blogs-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13.6em, 1fr));
    grid-auto-rows: 25rem;
    gap: 2rem;
    height: 100%;
    margin: 1rem 0;
}

.blog-item{
    display: grid;
    grid-template-rows: 15rem 2rem 2.3rem auto;
    align-items: center;
    /* add this in @media gap: 0.25rem; */
}
.blog-img{
    grid-template:auto;
    width: 100%;
    height: 100%;
}
.date{
    align-self: self-end;
}
.preview{
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    color: #505050;
}
footer{
    background: #202020;
    color: whitesmoke;
    text-align: center;
    padding: 3em 4em;
    font-size: 12px;
}
/* About me */
.about-container{
    display: grid;
    gap: 2rem;
}
.about-title{
    align-self: center;
}
.about-img{
    margin: 0 auto;
    border-radius: 3px;
    width: 80%;
}
.about-body{
    display: grid;
    grid-column: 1/-1;
    gap: 1.5rem;
    margin-bottom: 1rem;
}
.recent-posts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 1.5rem;
    margin-bottom: 0.5rem;
}
.recent-posts-title{
    width: 6em;
    margin: 0 auto;
    text-align: center;
}

/* media quieries */
@media (min-width: 576px) {
    header,
    article,
    .about-container,
    footer{
        padding: 1.7rem 2.5rem;
    }
    .article-hero{
        grid-template-rows: 3fr 30px auto 2fr;
        height: 25rem;
    }
    .about-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .about-img{
        grid-row: 1/2;
        width: 100%;
    }
    .about-preview{
        grid-column: 2/3;
        width: 100%;
        margin: 0 auto;
    }
}
@media(min-width: 767px){
    header,
    article,
    .about-container,
    footer{
        padding: 2.5rem 5rem;
    }
    .blogs-container {
    grid-template-columns: repeat(auto-fit, minmax(16.5em, 1fr));
    }
    .preview-hero{
    width: 80%;
    }
    .article-hero{
        grid-template-rows: 3fr 30px auto 1fr;
        height: 30rem;
    }
}
@media (min-width: 1040px){
    .blogs-container {
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
}
}